{% extends '../src/markup/layouts/default.twig' %}

{% block page_class %}home{% endblock %}
{% block content %}
    <section class="home__content u-wrapper u-flex">
        <h1>Heading</h1>
        <p>paragraph.</p>
        <img src="./assets/img.png" alt="Webpack logo" width="250px">
    </section>
{% endblock %}